#scroll {
    height:400px;
    overflow-y:scroll;
    overflow:auto;
}
#te1{
    width:18em
}
#te2{
    width:10em
}
#te3{
    width:13em
}
#te4{
    width:15em
}
#trannonce {
    border-bottom:double
}
#tdannonce {
    border:none;
}
#divannonce {
    border:double;
}
#logo{
    color:green;
}
#soustabl{
    padding: 0;
}
body {
    background-color:green;
}
legend , label {
    color : white;
}

table {
    background-color: white;
}

#lNom , #ladr   {
    padding:0% 9% 0% 20% ;

}

#lcdpost {
    padding:0% 5% 0% 20% ;
}

#lVille {
    padding:0% 13% 0% 20% ;
}

#searchevent {
    text-align: center ; 
    line-height:65px;
}

#macarte {
    width: 620px; 
    height: 500px; 
    float:left
}

.profile 
{
    min-height: 355px;
    display: inline-block;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
    .login {
        width: 400px;
        background-color: #ffffff;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
        margin: 100px auto;
  }
  .login h1 {
        text-align: center;
        color: #5b6574;
        font-size: 24px;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #dee0e4;
  }
  .login form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
  }
  .login form label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #3274d6;
        color: #ffffff;
  }
  .login form input[type="password"], .login form input[type="text"] {
        width: 310px;
        height: 50px;
        border: 1px solid #dee0e4;
        margin-bottom: 20px;
        padding: 0 15px;
  }
  .login form input[type="submit"] {
        width: 100%;
        padding: 15px;
       margin-top: 20px;
        background-color: #3274d6;
        border: 0;
        cursor: pointer;
        font-weight: bold;
        color: #ffffff;
        transition: background-color 0.2s;
  }
  .login form input[type="submit"]:hover {
      background-color: #2868c7;
        transition: background-color 0.2s;
  }
  .posts-wrapper {
    margin: 0 auto;
    
    width: 400px; 
}
    .post {
    background-color: white;
    border:1px ridge black;
    padding-bottom: 5%;
    }
    .post-info {
        margin: 0 auto;
    
    width: 400px; 

    }